*{  margin: 0;
    padding: 0;
    font-family: 'Averia Gruesa Libre', cursive;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
}
.conta{
     margin: 20px;
    background-image: url('https://images.unsplash.com/photo-1480506132288-68f7705954bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1393&q=80');
    background-size: cover;
    background-attachment: fixed;
}
.store-1{
width: 89%;
height: 188px;
margin: 28px;
padding: 20px;
display: flex;
text-align: center; 
                 
}
#head{
    width: 90%;
    height: 100px;
    display: flex;
   justify-content: space-around;   
}
#one{
    font-size: 2rem;  
    color: #ffffff; 
}
.navi{
    display: flex;
    margin: 20px;
}
.nav{
    text-decoration: none;
    margin: 10px;
    color: #ffffff;
}
.container{
    width: 89%;
    height: 600px;
    margin: 28px;
    display: flex;
    align-content: center;;
    flex-direction: column;   
}
.one{
    width: 85%;
    height: auto;
    margin: 10px;
    
    color: #ffffff;
  letter-spacing: 2px;
}
#school{
    color: salmon;
}