*{  margin: 0;
    padding: 0;
    font-family: 'Averia Gruesa Libre', cursive;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
}
.store-1{
        width: 89%;
        height: 188px;
        margin: 28px;
        padding: 20px;
        display: flex;
        text-align: center;
}
#head{
    width: 80%;
    height: 100px;
    display: flex;
   justify-content: space-around;   
}
#one{
    font-size: 2rem;   
}
.navi{
    display: flex;
    margin: 20px;
}
.nav{
    text-decoration: none;
    margin: 10px;
    color: grey;
}